.TableMana {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  background-color: white !important;
  border-radius: 20px;
  padding: 50px;
  .displayTables {
    .table {
      width: 1044px;
    }
    table {
      display: inline-flex;
      padding: 10px;
      margin-top: 50px;
      align-items: flex-start;
      gap: 16px;
      border: 1px solid #000;
      border-radius: 20px;
      box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
    }
    h1 {
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .singleTable {
    padding: 1000px;
  }

  .annotate {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    div {
      margin-right: 10px;
    }

    label {
      margin-right: 100px;
    }
  }

  .time {
    display: flex;
    flex-direction: row;
  }

  .date {
    margin-right: 50px;
  }

  .customContainer {
    width: 279px;
    height: 62px;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    border: 0.5px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    .customItem {
      width: 80px;
      height: 42px;
      position: relative;
      background: #f8f8f8;

      span {
        left: 25px;
        top: 11px;
        position: absolute;
        opacity: 0.5;
        color: black;
        font-size: 20px;
        font-family: "Poppins";
        font-weight: 500;
        line-height: 20px;
        word-wrap: break-word;
      }
    }
  }

  .tableDetail {
    border-radius: 20px;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    max-width: 300px;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    p {
      text-align: left;
      margin-bottom: 1rem;
    }

    .tableInfo {
      display: flex;
      flex-direction: row;
    }

    .tableUpdate {
      margin-left: 100px;
      display: flex;
      flex-direction: column;

      button {
        margin-top: 20px;
        width: 100px;
        height: 40px;
        border-radius: 8px;
        background-color: #000;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        cursor: pointer;

        &:hover {
          background-color: #cd672e !important;
          color: #000;
          border: 1px solid #000;
        }
      }
    }
  }

  #inputTableDetail {
    display: flex;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
    margin-top: 10px;

    .label {
      margin-right: 10px;
      font-size: 15px;
      border-right: solid 1px #000;
      padding-right: 10px;
      text-align: left;
      width: 30%;
    }

    .underlineInput {
      border: none;
      padding: 5px;
      font-size: 15px;
      height: 30px;
      width: 300px;

      &:focus {
        outline: none;
        border-color: #000;
      }

      &::-webkit-input-placeholder {
        opacity: 0.4;
      }
    }
  }
}
