// body {
//   background-image: ;
// }
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  //   color: rgb(246, 248, 248);
    .thumbnail {
      font-size: 70px;
    }
    .ad-text {
      font-size: 30px;
    }
    .btn {
      .link {
        .btn .p-button-label {
          border: solid 1px black !important;
        }
      }
    }
  }
  

  .btn {
    border: solid 1px black !important;
    border-radius: 20px;
    color: white !important;
    background-color: #ce6930 !important;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: white !important;
    color: #ce6930 !important;
  }