// body {
//   background-image: ;
// }
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  //   color: rgb(246, 248, 248);
    height: 50vh;
    width: 100vw;
    .thumbnail {
      font-size: 70px;
    }
    .ad-text {
      font-size: 30px;
    }
    .btn {
      .link {
        .btn-getstarted .p-button-label {
          border: solid 1px black;
        }
      }
    }
  }
  