.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  width: fit-content;
  height: 100%;
  padding: 50px;
  margin-top: 50px;
  margin-left: 60px;
  border-radius: 20px;
}
.ReservationList {
  position: relative;
  width: 1120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.filterContainer {
  position: absolute;
  margin: 50px;
  top: 0;
  right: 0;
}

.reservations {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 40%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // padding: 1rem;
}

.cardTitle {
  width: fit-content;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardContent {
  width: 100%;
  text-align: left;
}

.cardContent p {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
}


