.MakeOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .container {
    padding: 100px;
    display: flex;
    width: 100%;
    .thumbnail {
      width: 60%;
      .img{
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 100px;
        padding-right: 100px;
        background-color: #F7F8FB;
      }
    }
    .order-menu {
      width: 40%;
      background-color: #e1e1e1;
      border: solid 1px #000000;
      border-radius: 20px;
      .people-quantity{
        .adult-quantity .children-quantity{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }
  }
}
