.MakeOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .container {
    padding: 100px;
    display: flex;
    width: 100%;
    .thumbnail {
      width: 60%;
      .img {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 100px;
        padding-right: 100px;
        background-color: #f7f8fb;
      }
    }
    .order-menu {
      width: 40%;
      background-color: #ffffff;
      border: solid 1px #000000;
      border-radius: 20px;
      .inputs-form {
        margin-top: 50px;
        margin-left: 30px;
        padding: 10px;
        .input-adult-quantity {
          .input-adults {
            display: flex;
            flex-direction: row;
            width: 100%;
            .adult-quantity-label {
              width: 60%;
              text-align: start;
            }
            .adult-quantity-change-btn {
              display: flex;
              justify-content: center;
              align-items: center;
              border: solid 1px #000000;
              border-radius: 62px;
              padding: 5px;
              .display-adult-quantity {
                width: 30px;
                text-align: center;
                border: none;
              }
              .decrement-adult{
                border: none;
                margin-right: 6px;
                background-color: #ffffff;
              }
              .increment-adult{
                border: none;
                background-color: #ffffff;
              }
            }
          }
        }

        .input-children-quantity {
          margin-top: 10px;
          .input-children {
            display: flex;
            flex-direction: row;
            width: 100%;
            .children-quantity-label {
              width: 60%;
              text-align: start;
            }
            .children-quantity-change-btn {
              display: flex;
              justify-content: center;
              align-items: center;
              border: solid 1px #000000;
              border-radius: 62px;
              padding: 5px;
              .display-children-quantity {
                width: 30px;
                text-align: center;
                border: none;
              }
              .decrement-children{
                border: none;
                margin-right: 6px;
                background-color: #ffffff;
              }
              .increment-children{
                border: none;
                background-color: #ffffff;
              }
            }
          }
        }

        .input-group-time{
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: left;
          .time-label{
            width: 60%;
            text-align: start;
          }
        }

        .input-group-date{
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: left;
          .date-label{
            width: 60%;
            text-align: start;
          }
        }

        .input-group-personal{
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: left;
          .personal-info-label{
            text-align: left;
          }
          .input-text-personal{
            margin-top: 10px;
            width: 90%;
          }
        }
      }
    }
  }
}
