.Success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: white;
    margin-top: 30px;
    .OrderOptions {
      width: 569px;
      height: 753px;
      position: relative;
      background: white;
      box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      overflow: hidden;
      border: 0.50px solid black;
  
      .Group7022 {
        width: 167.99px;
        height: 42.92px;
        left: 200px;
        top: 650px;
        position: absolute;
  
        .Rectangle31 {
          width: 167.81px;
          height: 42.66px;
          left: 0.17px;
          top: 0;
          position: absolute;
          // background: #37251B;
          border-radius: 30px;
        }
  
        .BackHome {
          left: 0;
          right: 0;
          top: 5px;
          bottom: 0;
          margin: auto;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 20px;
          text-decoration: none;
          font-family: Poppins;
          font-weight: 600;
          line-height: 42.66px;
          .btn {
            border: solid 1px black !important;
            border-radius: 20px;
            color: white !important;
            background-color: #ce6930 !important;
            transition: background-color 0.3s ease;
          }
          .btn:hover {
            background-color: white !important;
            color: #ce6930 !important;
          }
        }
      }
  
      .Line {
        width: 468.86px;
        height: 0.93px;
        left: 50px;
        top: 600px;
        position: absolute;
        background: #F4F5F7;
      }
  
      .Title {
        left: 0;
        right: 0;
        top: 200px;
        margin: auto;
        position: absolute;
        text-align: center;
        color: #001833;
        font-size: 64px;
        font-family: Poppins;
        font-weight: 500;
        line-height: 72px;
      }
  
      .PressBackHomeToBookMore {
        width: 669px;
        height: 19px;
        left: -50px;
        top: 550px;
        right: 0;
        margin: auto;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 24px;
        font-family: Poppins;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  

